@page "/affects"

@using models
@using handlers
@inject Memory _memory


<div class="affect">
<div class="collapse" @onclick="ToggleHide">
    <i class="@(Show ? "arrow-down" : "arrow-up")"></i>
    </div>
</div>

@if(Show)
{
    <div class="affect">
        <div class="control">
            <div class="label absolute">name</div>
            <div><input type="text" @bind="submit.Description" /></div>
        </div>
        <div class="control">
            <div class="label absolute">expiration round</div>
            <div><input type="number" @bind="submit.Expiration.Round" /></div>
        </div>    
        <div class="control">
            <div class="label absolute">expiration turn</div>
            <div>
                <select @bind="submit.Expiration.Turn">
                    <option value="">select combatant</option>
                    @foreach(var combatant in _memory.Initiative.Combatants)
                    {
                        <option value=@combatant.Name>@combatant.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="control">
            <div class="label absolute">expiration pointer</div>
            <div>
                <select @bind="submit.Expiration.Pointer">
                    <option value=@resources.Affects.Pointers.START>@resources.Affects.Pointers.START</option>
                    <option value=@resources.Affects.Pointers.END>@resources.Affects.Pointers.END</option>
                </select>
            </div>
        </div>    
        <div class="control row">
            <div class="label">concentration</div>
            <div>
                <input type="checkbox" @bind="submit.IsConcentration" />
            </div>
            <div>
                <button class="go" @onclick="OnSubmit">Go</button>
            </div>
        </div>
    </div>
}


@* <div class="form">
<EditForm Model=@submit OnSubmit=@OnSubmit>
    <div class="control">
        <div>Name</div>
        <InputText @bind-Value=@submit.Description />
    </div>
    <div class="control">
        <div>Expiration Round</div>
        <InputNumber @bind-Value=@submit.Expiration.Round />
    </div>  
    <div class="control">
        <div>Expiration Turn</div>
        <InputSelect @bind-Value=@submit.Expiration.Turn>
            <option value="">select combatant</option>
            @foreach(var combatant in _memory.Initiative.Combatants)
            {
                <option value=@combatant.Name>@combatant.Name</option>
            }
        </InputSelect>
    </div> 
    <div class="control">
        <div>Expiration Pointer</div>
        <InputSelect @bind-Value=@submit.Expiration.Pointer>
            <option value=@resources.Affects.Pointers.START>@resources.Affects.Pointers.START</option>
            <option value=@resources.Affects.Pointers.END>@resources.Affects.Pointers.END</option>
        </InputSelect>
    </div>  
    <div class="control">
        <div>Concentration</div>
        <InputCheckbox @bind-Value=@submit.IsConcentration />
    </div>  
    <input type="submit" value="submit" />
</EditForm>
</div> *@

<div class="panel">
    <div class="panel-left">
        @foreach(var affect in _memory.Affects){
            <div class="@HandleMode(affect)" draggable="true" 
                @ondragstart="() => HandleDragStart(affect)"
                @onclick="() => _memory.ToggleAssignment(affect)"
            >
                <div class="combatant">
                    @affect.Description
                </div>
                <div class="remove" @onclick="() => _memory.RemoveAffect(affect)">
                    <div class="x">x</div>
                </div>
            </div>
        }
    </div>
</div>


@code {

    private void ToggleHide()
    {
        Show = !Show;
    }

    bool Show = false;
    AffectSubmit submit = new AffectSubmit();

    private string HandleMode(Affect affect)
    {
        Console.WriteLine($"{affect.Description}: {affect.AssignmentMode}");
        var css = "listor";

        if (affect.AssignmentMode)
        {
            css += " assignment";
        }

        return css;
    }

    private void HandleDragStart(Affect affect)
    {
        _memory.SelectedAffect = affect;
        //Console.WriteLine($"start: {_memory.SelectedAffect.Id}{_memory.SelectedAffect.Description}");
    }

    private void OnSubmit()
    {
        @* Console.WriteLine($"submit: {submit.Description}");
        Console.WriteLine($"expiratoin round: {submit.Expiration.Round}");
        Console.WriteLine($"expiratoin turn: {submit.Expiration.Turn}");
        Console.WriteLine($"expiratoin pointer: {submit.Expiration.Pointer}");
        Console.WriteLine($"expiratoin concentration: {submit.IsConcentration}"); *@

        _memory.AddAffect(submit);

        submit = new AffectSubmit();
    }

    protected override void OnInitialized()
    {
        _memory.OnChange += Update;
    }

    private void Update()
    {
        if (string.IsNullOrEmpty(submit.Expiration.Pointer))
        {
            submit.Expiration.Pointer = resources.Affects.Pointers.START;
        }

        InvokeAsync(() => {
            StateHasChanged();
        });
    }    
}