@page "/initiative"

@using wrangler.handlers
@using wrangler.models
@inject Memory _memory

@if(_memory.Initiative.Round == 0)
{
    <h2 class="hide">Only you can prevent dungeon fires. Kill the wizard first.</h2>
    <h2>I got that lich a phylactery.  Liches love phylacteries.</h2>
    <h2 class="hide">Meddle not in the affairs of dragons, for you are crunchy and good with ketchup.</h2>
    <h2 class="hide">How many kobolds does it take to paint a tavern red? Depends how hard you throw them.</h2>
    <h2 class="hide">A human, a dragonborn, and a halfling walk into a bar. The dwarf had darkvision.</h2>
    <h2 class="hide">If you cast Speak with Plants and Speak with Dead you should be able to talk to furniture.</h2>
}
else
{
    <div class="panel">
        <div class="panel-left">
            @foreach(var combatant in _memory.Initiative.Combatants.Where(c => !c.TurnTaken && !c.IsTurn)){
                <div class="@FindClass(combatant)">
                @* <div class="@(!combatant.IsActive ? "combatant not-active" : "combatant")"> *@
                    <div>
                        @combatant.Name
                    </div>
                    <div>
                        @foreach (var affect in combatant.Affects)
                        {
                            <div class="combatant">@affect.Description</div>
                        }                         
                    </div>
                </div>
            }
        </div>
        <div class="panel-right weak">
            @foreach(var combatant in _memory.Initiative.Combatants.Where(c => c.TurnTaken && !c.IsTurn)){
                <div class="@FindClass(combatant)">
                @* <div class="@(!combatant.IsActive ? "combatant not-active" : "combatant")"> *@
                    <div>
                        @combatant.Name
                    </div>
                    <div>
                        @foreach (var affect in combatant.Affects)
                        {
                            <div class="combatant">@affect.Description</div>
                        }                         
                    </div>
                </div>
            }            
        </div>
    </div>
}


@code {
    protected override void OnInitialized()
    {
        _memory.OnChange += Update;
    }

    private string FindClass(Combatant combatant)
    {
        var css = "combatant";

        if (!combatant.IsActive)
        {
            css += " not-active";
        }

        if (combatant.IsActive)
        {
            var affect = _memory.Affects.FirstOrDefault(a => a.Expiration.Turn == combatant.Name);
            //Console.WriteLine(affect == null);

            if (affect != null && 
                affect.MetaData.ContainsKey("concentration") && 
                affect.MetaData["concentration"] == combatant.Name)
                {
                    css += " concentration";
                }
        }

        return css;
    }

    private void Update()
    {
        InvokeAsync(() => {
            StateHasChanged();
        });
    }
}
